
html, body {
    height: 100%;
}


.wrapper{
  position:relative;
}

.inborder{
  position:fixed;
  top:0em;
  height:4em;
  left:0em;
  right:0em;
  background-color:#9bc2cf;
}

.msg{
  position:absolute;
  text-decoration:none;
  top:0.85em;
  left:0.85em;
  font-size:1.5em;
  color:white;
  font-family:Georgia,Arial,Helvetica,Sans-Serif;
  font-style: italic;
}

.signout{
  position:absolute;
  text-decoration:none;
  top:1.20em;
  right:1.5em;
  font-size:1.25em;
  color:white;
  font-family: Arial,Helvetica,Sans-Serif;
}

.home{
  position:absolute;
  text-decoration:none;
  top:1.20em;
  right:20.50em;
  font-size:1.25em;
  color:white;
  font-family: Arial,Helvetica,Sans-Serif;
}

.profile{
  position:absolute;
  text-decoration: none;
  top:1.20em;
  right:15em;
  font-size:1.25em;
  color:white;
  font-family: Arial,Helvetica,Sans-Serif;
}

.help{
  position:absolute;
  text-decoration:none;
  top:1.20em;
  right:7.45em;
  font-size:1.25em;
  color:white;
  font-family:Arial,Helvetica,Sans-Serif;
}

.inbordermid
{
  position:absolute;
  top:4em;
  bottom:7.5em;
}

.inbordermidPAD
{
  padding-top:2em;
  padding-left:4.5em;
  padding-right:4.5em;
  padding-bottom:2em;
}
.titles{
  font-family: Calibri,Arial,Helvetica,Sans-Serif;
  font-size:2em;
  color:#abab9a;
}

blockquote{
  font-family: Arial;
}

.inborderbottom{
  position:relative;
  bottom:0em;
  height:7.5em;
  left:0em;
  right:0em;
  background-color:#9bc2cf;
}

.inborderbottom1{
  position:fixed;
  bottom:0em;
  height:7.5em;
  left:0em;
  right:0em;
  background-color:#9bc2cf;

}

#profilepic1{
  float: right;
  position: relative;
  left:-10em;
  font-family: Helvetica,Arial,Sans-Serif;
}

.homeplace{
     float:left;
     border: 0.2em solid #9bc2cf;
     border-radius: 2em;
     margin-left:0.5em;
     margin-bottom:1em;
     position:relative;
}

.homeimg{
      display:inline-block;
      left:3em;
      top:-0.45em;
      position:relative;
      padding-top:3em;
      padding-bottom:2em;
}

.hometext{
    display:inline-block;
    left:-3em;
    position:relative;
    font-family: Arial,Helvetica,Sans-Serif;
    color:black;
}

.name{
  font-weight:bold;  
  color:#abab9a;
}

.placeholder{
  padding-top:2em;
  position:relative;
  -webkit-filter:"";
}

.acdc{
  position:absolute;
  top:11.5em;
  left:11.5em;
  z-index:1;
  display:none;
}

.resturantNames{
  color:#B6C5BE;
  padding-top:0.75em;
  font-size:175%;
}

.resturantNames{
  color:#B6C5BE;
}

.NoColor{
  text-decoration: none;
}


