
.inborder{
  position:absolute;
  top:0em;
  height:4em;
  left:0em;
  right:0em;
  background-color:#555555;
}

.msg{
  position:absolute;
  text-decoration: none;
  top:0.85em;
  left:0.85em;
  font-size:1.5em;
  color:white;
  font-family: Arial,Helvetica,Sans-Serif;
}

.signout{
  position:absolute;
  text-decoration: none;
  top:1.20em;
  right:1.5em;
  font-size:1.25em;
  color:white;
  font-family: Arial,Helvetica,Sans-Serif;
}

.profile{
  position:absolute;
  text-decoration: none;
  top:1.20em;
  right:12em;
  font-size:1.25em;
  color:white;
  font-family: Arial,Helvetica,Sans-Serif;
}

.help{
  position:absolute;
  text-decoration: none;
  top:1.20em;
  right:7.45em;
  font-size:1.25em;
  color:white;
  font-family: Arial,Helvetica,Sans-Serif;
}

.inborderbottom{
  position:absolute;
  bottom:0em;
  height:7.5em;
  left:0em;
  right:0em;
  background-color:#555555;
}



