#login1,#signup1{

  margin: auto;
  position: relative;
  width: 40em;
  height: 20em;
  padding-bottom:2em;
  top:14em;
  vertical-align: middle;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 14px;
  font-style: italic;
  line-height: 24px;
  font-weight: bold;
  color: #09C;
  text-decoration: none;
  border-radius: 10px;
  border: 0.25em solid #ffff00;
  border: inset 1px solid #333;
  background-color: rgba(0, 0, 255, 0.1);
}

table {
  width: 100%;
}
td {
  text-align: center;
}
form {
  display: inline-block;
}

#login{
   text-align: center;
}

#link
{
   text-align: center;
}

#diningLogin{
  text-align: center;
  font-size: 200%;
}
